:root {
  --primary-color: #dddddd;
  --secondary-color: #1f4f27;
  --tertiary-color: #104d45;
  --quaternary-color: #0e0e0e;
  --header-font: muli;
  --secondary-font: "Merriweather";
  --tertiary-font: "Noto sans";
  --icons-small: 30px;
  --icons-big: 40px;
}
