:root {
  --primary-color: #dddddd;
  --secondary-color: #1f4f27;
  --tertiary-color: #104d45;
  --quaternary-color: #0e0e0e;
  --header-font: muli;
  --secondary-font: "Merriwather";
  --icons-small: 30px;
}
