@import "/css/Import/variables.css";

.gradient-border {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.gradient-border h2 {
  padding: 10px;
  margin-top: 0px;
}

.categories-box {
  background: #ffffff;
  color: var(--secondary-color);
  margin: 0 auto;
  width: 80%;
  margin-bottom: 10px;
}

.categories-box h2 {
  font-size: 1.2em;
}

.arrow {
  font-size: 1.5em;
  color: var(--quaternary-color);
  width: 35px;
}

.margin-gap {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 60px;
}

/*Kids dropdown menu */

#kids-menu {
  display: none;
}

#kids-menu:checked ~ ul {
  display: flex;
}

.kids-dropdwn {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: thin;
  border-bottom: none;
}

/*Teachers dropdown menu */

#teachers-menu {
  display: none;
}

#teachers-menu:checked ~ ul {
  display: flex;
}

.teacher-dropdwn {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: thin;
  border-bottom: none;
}

/*Everyone dropdown menu */

#everyone-menu {
  display: none;
}

#everyone-menu:checked ~ ul {
  display: flex;
}

.everyone-dropdwn {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: thin;
  border-bottom: none;
}

/* Dropdown menu */

.categories-box ul {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  display: none;
}

.dropdown-box a {
  text-decoration: none;
  font-family: var(--header-font);
  font-weight: bold;
  color: var(--secondary-color);
}

.dropdown-box a:hover {
  text-decoration: underline;
}

.dropdown-box {
  border-color: var(--quaternary-color);
  border-style: solid;
  border-width: thin;
  border-bottom: none;
  padding: 10px;
}
