@import "/css/Import/variables.css";

/* index.css */

.welcome-text_l {
  margin-top: 90px;
}

.welcome-text_l svg {
  width: 35vw;
  height: 28vw;
}

.welcome-text_s svg {
  width: 90vw;
  height: 21vw;
}

.welcome-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.welcome-info_box {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.text-container {
  flex-basis: 100%;
}

.explore-exhibitions {
  display: flex;
  flex-direction: column;
}

h3 {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 1.2em;
}

.gradient-border h1 {
  width: 90%;
}

p {
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.for-kids {
  margin-bottom: 20px;
}

/* Common styles */
.margin-gap {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cta_box {
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.bottom-gap {
  margin-top: 20px;
  margin-bottom: 50px;
}

.hide-mobile {
  display: none;
}

@media (min-width: 666px) {
  .hide-mobile {
    display: flex;
  }

  .hide-desktop {
    display: none;
  }

  .welcome-info_box {
    margin-top: 88px;
    width: 58vw;
  }
}

@media (min-width: 730px) {
  .gradient-border h2 {
    width: 95%;
  }

  .gradient-border h1 {
    width: 95%;
  }

  .explore-exhibitions {
    flex-direction: row;
  }

  .exhibition-places {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .special-events {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .for-kids {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .for-teachers {
    display: flex;
    flex-direction: column;
  }

  .together-container {
    display: flex;
  }

  .research-container {
    display: flex;
  }

  .for-researchers {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .research-img {
    flex: 1;
  }

  .hide-desktop {
    display: none;
  }
}
