@import "/css/Import/variables.css";

@font-face {
  font-family: "Noto sans";
  src: url(../fonts/Noto_Sans/NotoSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Noto sans";
  src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: muli, sans-serif;
  font-weight: 800;
  font-style: normal;
  src: url("https://use.typekit.net/hyf5kbp.css");
}

@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather_Sans/static/MerriweatherSans-Regular.ttf)
    format("truetype");
}

/* body */

body {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

main {
  background-color: var(--primary-color);
}

header {
  align-items: center;
  flex-wrap: wrap;
}

header,
footer {
  background: var(--primary-color);
  display: flex;
}

.logo-container {
  display: flex;
  flex: 2;
}

.icons-container {
  display: flex;
  align-items: center;
}

.icons-container div {
  margin: 10px;
}
/* Hamburger menu */
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  flex: 1;
  flex-basis: 100%;
}

.hamburger-label {
  font-size: 1.8em;
  margin-right: 15px;
  margin-left: 15px;
}

.menu-label {
  font-family: var(--tertiary-font);
  font-weight: 800;
  font-size: 1.3em;
  margin-right: 50px;
  margin-left: 15px;
}

.menu-label:hover {
  font-size: 1.4em;
}

/* Nav */
nav {
  display: none;
}

nav ul {
  padding: 0px;
  margin: 0 auto;
}

nav li {
  display: block;
  margin: 10px;
}

nav a {
  text-decoration: none;
  font-family: var(--tertiary-font);
  font-weight: bold;
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 8px;
  display: flex;
  border-radius: 5px;
}

nav a:hover {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  border-style: solid;
  border-width: medium;
}
/* Footer */
footer {
  margin-top: auto;
  flex-direction: column;
  text-align: center;
  border-top-style: solid;
  border-width: 1px;
}

footer div {
  margin: 10px 0px;
}

footer input[type="text"] {
  border: none;
  border-style: solid;
  border-width: 1px;
  width: 58vw;
}

.news-signup {
  display: flex;
  justify-content: center;
}

footer button {
  border: none;
  font-family: var(--tertiary-font);
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--tertiary-color);
  color: #ffffff;
  padding: 7px 15px;
}

footer button:hover {
  background-color: var(--primary-color);
  border-style: solid;
  border-width: medium;
  color: var(--quaternary-color);
}

.current {
  background-color: var(--primary-color);
  border-style: solid;
  border-width: medium;
  color: var(--quaternary-color);
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  font-family: var(--tertiary-font);
  font-weight: bold;
  text-decoration: underline;
}

footer a {
  color: var(--tertiary-color);
}

/* Logo and icons styling */

.logo {
  width: 110px;
  margin-left: 2%;
}

.planner-icon {
  width: var(--icons-small);
}

.place-marker {
  width: var(--icons-small);
}

.tickets-icon {
  width: var(--icons-small);
}

/* Button */

.cta {
  text-decoration: none;
  font-family: var(--tertiary-font);
  font-weight: bold;
  background-color: var(--tertiary-color);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.cta:hover {
  background-color: var(--primary-color);
  border-style: solid;
  border-width: medium;
  color: var(--quaternary-color);
}

.donate {
  margin: 0 auto;
}

.sign-up_cta {
  text-transform: uppercase;
}

/* Gradient section header */

.gradient-border {
  background-image: linear-gradient(
    to left,
    var(--quaternary-color),
    var(--secondary-color)
  );
  color: #ffffff;
  font-family: var(--header-font);
  margin: 0 auto;
}

.gradient-border h2 {
  margin: 0 auto;
  width: 91%;
  margin-top: 20px;
}

h3 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

p {
  font-family: var(--tertiary-font);
}

/* Common styles */

.img-border_s {
  display: flex;
  justify-content: center;
}

.img-size_s {
  width: 89%;
  border-style: solid;
  border-width: 2px;
  border-color: var(--quartery-color);
}

.text-pos {
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-pos {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 17px;
  text-transform: uppercase;
}

/* hide classes */
.hide-mobile {
  display: none;
}

.hide-whn_small {
  display: none;
}

@media (min-width: 666px) {
  .footer-links {
    width: 50vw;
    margin: 0 auto;
  }

  footer input[type="text"] {
    width: 42vw;
  }
}

@media (min-width: 730px) {
  .logo {
    width: 140px;
    margin-left: 10%;
  }

  .planner-icon {
    width: var(--icons-big);
  }

  .planner-marker {
    width: var(--icons-big);
  }

  .tickets-icon {
    width: var(--icons-big);
  }

  .hamburger-label {
    font-size: 2.2em;
  }

  .footer-links {
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .flex-wrapper {
    display: flex;
  }

  .flex-wrapper_box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-content: flex-start;
  }

  footer input[type="text"] {
    width: 47vw;
  }

  .hide-whn_small {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1100px) {
  .gradient-border h2 {
    width: 97%;
  }

  .text-pos h3 {
    margin: 0 auto;
  }

  .content-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .flex_box {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
  }

  .button-wrap {
    display: flex;
    align-items: flex-end;
  }

  .btn-pos {
    bottom: 5px;
  }

  .text-pos {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .margin-bottom {
    margin-bottom: 40px;
  }

  .hide-mobile {
    display: block;
  }

  .hide-desktop {
    display: none;
  }
}
