@import "/css/Import/variables.css";

.hours-box {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.hours-box h2 {
  font-family: var(--secondary-font);
  font-size: 1.2em;
  color: var(--secondary-color);
}

.margin-gap {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-us_text {
  margin: 0 auto;
  width: 90%;
}

.location-text {
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.margin-bottom {
  margin-bottom: 50px;
}

@media (min-width: 730px) {
  .gradient-border h1 {
    width: 95%;
  }

  .gradient-border h2 {
    width: 95%;
  }

  .hours-box {
    width: 94%;
  }

  .flex-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 23%;
  }

  .location-text {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 0px;
  }

  .about-us_text {
    max-width: 65%;
    padding-left: 2.5%;
    margin: 0;
  }

  .img-border_s {
    flex-basis: 50%;
  }
}

@media (min-width: 1100px) {
  .hours-box {
    width: 100%;
  }

  .text-pos {
    margin-top: 20px;
  }

  .flex-container {
    display: flex;
    justify-content: space-around;
  }

  .container-flex_box {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
  }
}
